@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/reset' as *;

// .profile-page {
//     background: linear-gradient(135deg, $pawpal-light-purple, $pawpal-light-yellow);
//     padding: 2rem;
//     // border-radius: 20px;
//     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

//     &__header {
//         background-color: $pawpal-purple;
//         color: $pawpal-white;
//         padding: 3rem 5rem;
//         border-radius: 15px;
//         box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
//         text-align: center;
//         position: relative;
//         z-index: 1;

//         &::after {
//             content: '';
//             position: absolute;
//             top: 0;
//             left: 0;
//             right: 0;
//             bottom: 0;
//             background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2));
//             z-index: -1;
//             border-radius: 15px;
//         }
//     }

//     &__owner-name {
//         font-size: 3rem;
//         font-weight: $font-weight-bold;
//         color: $pawpal-white;
//         letter-spacing: 0.1rem;
//         margin-bottom: 1rem;
//     }

//     &__dog-profile-intro {
//         font-size: 1.5rem;
//         font-weight: $font-weight-semi-bold;
//         color: $pawpal-light-purple;
//         margin-bottom: 1rem;
//     }

//     &__dog-profile {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         gap: 2.5rem;
//     }

//     &__dog-name {
//         font-size: 2.5rem;
//         font-weight: $font-weight-semi-bold;
//         color: $pawpal-yellow;
//         letter-spacing: 0.05rem;
//         margin-bottom: 1rem;
//     }

//     &__dog-picture {
//         height: 14rem;
//         width: 14rem;
//         border-radius: 50%;
//         border: 5px solid $pawpal-yellow;
//         box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
//     }

//     &__nav {
//         display: flex;
//         justify-content: center;
//         gap: 2rem;
//         margin-top: 2rem;

//         &-item {
//             background: linear-gradient(135deg, $pawpal-yellow, $pawpal-purple);
//             color: $pawpal-white;
//             padding: 1.5rem 3rem;
//             border-radius: 50px;
//             font-weight: $font-weight-semi-bold;
//             text-transform: uppercase;
//             box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
//             cursor: pointer;
//             transition: all 0.3s ease-in-out;

//             &:hover {
//                 transform: translateY(-5px);
//                 box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
//             }

//             &--active {
//                 background: $pawpal-light-purple;
//                 color: $pawpal-purple;
//                 transform: translateY(-2px);
//             }
//         }
//     }
// }

.profile-page {
    background: linear-gradient(135deg, $pawpal-light-green, $pawpal-light-yellow);
    padding: 2rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    &__header {
        background-color: $pawpal-yellow;
        color: $pawpal-black;
        padding: 3rem 5rem;
        border-radius: 15px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        text-align: center;
        position: relative;
        z-index: 1;

        // &::after {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        //     background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2));
        //     z-index: -1;
        //     border-radius: 15px;
        // }
    }

    &__owner-name {
        font-size: 3rem;
        font-weight: $font-weight-bold;
        color: $pawpal-black;
        letter-spacing: 0.1rem;
        margin-bottom: 1rem;
    }

    &__dog-profile-intro {
        font-size: 1.5rem;
        font-weight: $font-weight-semi-bold;
        color: $pawpal-grey;
        margin-bottom: 1rem;
    }

    &__dog-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
    }

    &__dog-name {
        font-size: 2.5rem;
        font-weight: $font-weight-semi-bold;
        color: $pawpal-purple;
        letter-spacing: 0.05rem;
        margin-bottom: 1rem;
    }

    &__dog-picture {
        height: 14rem;
        width: 14rem;
        border-radius: 50%;
        border: 5px solid $pawpal-light-purple;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    }

    &__nav {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 2rem;

        &-item {
            background: linear-gradient(135deg, $pawpal-light-yellow, $pawpal-light-green);
            color: $pawpal-black;
            padding: 1.5rem 3rem;
            border-radius: 50px;
            font-weight: $font-weight-semi-bold;
            text-transform: uppercase;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
            }

            &--active {
                background: $pawpal-yellow;
                // color: $pawpal-purple;
                transform: translateY(-2px);
            }
        }
    }
}

