@use "./variables" as *;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin full-page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}


@mixin responsive-font-size($desktop-size, $mobile-size) {
  font-size: $desktop-size;

  @media (max-width: $tablet-breakpoint) {
      font-size: $mobile-size;
  }

  @media (max-width: $mobile-breakpoint) {
      font-size: ($mobile-size - 0.2rem);
  }
}

@mixin responsive-padding {
  padding: 2rem;

  @media (max-width: $tablet-breakpoint) {
      padding: 1.5rem;
  }

  @media (max-width: $mobile-breakpoint) {
      padding: 1rem;
  }
}

@mixin responsive-gap {
  gap: 1.5rem;

  @media (max-width: $tablet-breakpoint) {
      gap: 1rem;
  }

  @media (max-width: $mobile-breakpoint) {
      gap: 0.75rem;
  }
}

@mixin responsive-sizing($desktop-size, $mobile-size) {
  height: $desktop-size;
  width: $desktop-size;

  @media (max-width: $tablet-breakpoint) {
      height: $mobile-size;
      width: $mobile-size;
  }

  @media (max-width: $mobile-breakpoint) {
      height: ($mobile-size - 2rem);
      width: ($mobile-size - 2rem);
  }
}


