$mobile-breakpoint: 375px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$font-primary: "Hanken Grotesk";
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 900;

$pawpal-yellow: #f6d46b;
$pawpal-purple: #72559f;

$pawpal-black: #000000;
$pawpal-white: #ffffff;
$pawpal-grey: #cdcdcd;

$pawpal-light-purple: #d4c2ef;
$pawpal-light-green: #f5f7ee;
$pawpal-light-yellow: #fff3db;
